/* Header */

.header{
  background-color: rgb(7, 71, 107);
  width: 1440px;
  text-align: center;
  height: 100px;
}
.header h1{
  font-family:'montserrat';
  color: white;
  font-size: 40px;
  padding-top: 20px;
}
.text {
  padding-top: 25px;
  margin-top: 25px;
  width: 1440px;
  height: 800px;
  background: linear-gradient(360deg, #fffefe 0%, rgba(7,  71, 107, 0.56) 100%);
  padding-right: 230px;
  box-sizing: border-box;
  }

 h2{
  color: rgb(7, 71, 107);
  width: 1440px;
  text-align: center;
  font-family: 'montserrat';
  font-weight: 600;
}
.text h3, p {
  margin-top: 25px;
  margin-left: 200px;
  font-family: 'poppins';
}
body {
  padding-left: 230px;
  }
